<!doctype html>
<html lang=en>
<meta charset=utf-8>
<head>
    <title>Recipes Manager</title>
 <link rel="stylesheet" type="text/css" href="/static/css/my_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">PyLove - Recipes Manager</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page_id == 'info' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('info') }}">Info</a>
            </li>

            <li class="nav-item{% if page_id == 'all_recipes' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('all_recipes') }}">All Recipes</a>
            </li>

            {% if current_user.is_authenticated %}
            <li class="nav-item{% if page_id == 'new_recipe' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('new_recipe') }}">New Recipe</a>
            </li>

            {% endif %}
            <li class="nav-item">
                <form action="{{ url_for('search') }}" method="post">
                    <div class="form-group search">
                        <div>
                            <ul>
                                <li>{{ searchform.search(class="form-control") }} </li>
                                <li><button type="submit" class="btn btn-primary">Search</button></li>
                            </ul>
                        </div>
                        {% if searchform.search.errors %}
                        <ul class="errors">{% for error in searchform.search.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}

                    </div>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item{% if page_id == 'my_recipes' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('my_recipes') }}">My Recipes</a>
            </li>
            {% endif %}
            <li class="navbar-text">
                |
                {% if current_user.is_authenticated %}
                Hello {{ current_user.email }}! | <a href="/logout">LOGOUT</a>
                {% else %}
                Hello stranger! |
            </li>
            <li class="nav-item{% if page_id == 'register' %} active{% endif %}">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item{% if page_id == 'login' %} active{% endif %}">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </nav>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="messages">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div data-alert class="alert alert-{{ category }} alert-dismissible show">
                  <li>{{ message|urlize(30) }}</li>
              {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
