{% extends "_base.html" %}

{% set page_id = 'all_recipes' %}

{% block content %}
<h1>Recipes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Average score</th>
      <th scope="col">Private/Public</th>
      <th scope="col">Author</th>
      <th scope="col">Actions</th> 
    </tr>
  </thead>
  <tbody>
    {% for recipe in recipes %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ recipe.title }}</td>
      <td>{{ recipe.average_score }}</td>
      <td>{{ recipe.status }}</td>
      <td>{{ recipe.user.email }}</td>
      <td>
        <a href="{{ url_for('show_recipe', recipe_id=recipe.id) }}">Show</a>
        {% if recipe.user == current_user %} |
        <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">Edit</a> |
        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" >Delete</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
